In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import datetime
import time

In [2]:
cities=pd.read_csv("data/cities.csv")
providers=pd.read_csv("data/providers.csv")
stations=pd.read_csv("data/stations.csv")
tickets=pd.read_csv("data/ticket_data.csv")

In [49]:
print(tickets)

            id  company  o_station  d_station            departure_ts  \
0      6795025     8385        NaN        NaN  2017-10-13 14:00:00+00
1      6795026        9       63.0     1044.0  2017-10-13 13:05:00+00
2      6795027     8377     5905.0     6495.0  2017-10-13 13:27:00+00
3      6795028     8377     5905.0     6495.0  2017-10-13 13:27:00+00
4      6795029     8381     5905.0     6495.0  2017-10-13 21:46:00+00
5      6795030     8385        NaN        NaN  2017-10-06 05:30:00+00
6      6795031     8385        NaN        NaN  2017-10-06 07:00:42+00
7      6795032     8385        NaN        NaN  2017-10-06 07:10:00+00
8      6795033     8385        NaN        NaN  2017-10-06 10:00:00+00
9      6795034     8385        NaN        NaN  2017-10-06 10:00:00+00
10     6795035     8385        NaN        NaN  2017-10-06 12:40:00+00
11     6795036     8385        NaN        NaN  2017-10-06 13:00:00+00
12     6795037     8385        NaN        NaN  2017-10-06 13:00:00+00
13     6795038     8385        NaN        NaN  2017-10-06 13:00:00+00
14     6795039     8385        NaN        NaN  2017-10-06 13:00:00+00
15     6795040     8385        NaN        NaN  2017-10-06 13:40:00+00
16     6795041     8385        NaN        NaN  2017-10-06 14:00:16+00
17     6795042     8385        NaN        NaN  2017-10-06 14:00:00+00
18     6795043     8385        NaN        NaN  2017-10-06 14:00:00+00
19     6795044     8385        NaN        NaN  2017-10-06 14:00:00+00
20     6795045     8385        NaN        NaN  2017-10-06 14:50:00+00
21     6795046     8385        NaN        NaN  2017-10-06 15:10:00+00
22     6795047     8385        NaN        NaN  2017-10-06 15:30:00+00
23     6795048     8385        NaN        NaN  2017-10-06 15:50:00+00
24     6795049     8385        NaN        NaN  2017-10-06 15:50:00+00
25     6795050     8385        NaN        NaN  2017-10-06 16:00:00+00
26     6795051     8385        NaN        NaN  2017-10-06 16:00:00+00
27     6795052     8385        NaN        NaN  2017-10-06 16:00:00+00
28     6795053     8385        NaN        NaN  2017-10-06 16:50:00+00
29     6795054     8385        NaN        NaN  2017-10-06 17:00:00+00
...        ...      ...        ...        ...                     ...
74138  6869163     8385        NaN        NaN  2017-10-27 18:00:00+00
74139  6869164     8385        NaN        NaN  2017-10-27 18:30:00+00
74140  6869165     8385        NaN        NaN  2017-10-27 18:30:00+00
74141  6869166     8385        NaN        NaN  2017-10-27 18:30:00+00
74142  6869167     8385        NaN        NaN  2017-10-27 19:10:00+00
74143  6869168     8385        NaN        NaN  2017-10-27 21:20:00+00
74144  6869169     8385        NaN        NaN  2017-10-27 21:50:00+00
74145  6869170     8376      767.0     6591.0  2017-10-27 06:38:00+00
74146  6869175     8376      767.0     6591.0  2017-10-27 16:38:00+00
74147  6869180     8376     6799.0     6591.0  2017-10-27 21:46:00+00
74148  6869171     8376      767.0     6591.0  2017-10-27 06:38:00+00
74149  6869177     8376     6799.0     6591.0  2017-10-27 17:14:00+00
74150  6869172     8376     6799.0     6591.0  2017-10-27 08:14:00+00
74151  6869178     8376     6799.0     6591.0  2017-10-27 19:40:00+00
74152  6869173     8376     6799.0     6591.0  2017-10-27 10:40:00+00
74153  6869176     8376      767.0     6591.0  2017-10-27 16:38:00+00
74154  6869174     8376     6799.0     6591.0  2017-10-27 14:14:00+00
74155  6869179     8376     6799.0     6591.0  2017-10-27 20:46:00+00
74156  6869181       13        3.0    10729.0  2017-10-27 01:40:00+00
74157  6869183     8371    10642.0      304.0  2017-10-27 07:00:00+00
74158  6869184        9      279.0    10729.0  2017-10-27 07:00:00+00
74159  6869186     8371    10642.0    10729.0  2017-10-27 08:30:00+00
74160  6869188     8371    10642.0      304.0  2017-10-27 10:00:00+00
74161  6869190     8371    10642.0      304.0  2017-10-27 14:00:00+00
74162  6869192       13      279.0      304.0  2017-10-27 19:55:00+00
74163  6869182       13      279.0    10729.0  2017-10-27 02:30:00+00
74164  6869185        9      279.0      304.0  2017-10-27 07:00:00+00
74165  6869187     8371    10642.0      304.0  2017-10-27 08:30:00+00
74166  6869189       13      279.0      304.0  2017-10-27 13:25:00+00
74167  6869191     8371    10642.0    10729.0  2017-10-27 14:45:00+00

                   arrival_ts  price_in_cents                   search_ts  \
0      2017-10-13 20:10:00+00            4550  2017-10-01 00:13:31.327+00
1      2017-10-14 06:55:00+00            1450  2017-10-01 00:13:35.773+00
2      2017-10-14 21:24:00+00            7400  2017-10-01 00:13:40.212+00
3      2017-10-14 11:02:00+00           13500  2017-10-01 00:13:40.213+00
4      2017-10-14 19:32:00+00            7710  2017-10-01 00:13:40.213+00
5      2017-10-06 08:30:00+00            1800  2017-10-01 01:03:18.948+00
6      2017-10-06 09:30:42+00            2150  2017-10-01 01:03:18.948+00
7      2017-10-06 09:40:00+00            1700  2017-10-01 01:03:18.948+00
8      2017-10-06 12:50:00+00            1700  2017-10-01 01:03:18.948+00
9      2017-10-06 12:50:00+00            1900  2017-10-01 01:03:18.948+00
10     2017-10-06 15:40:00+00            1550  2017-10-01 01:03:18.948+00
11     2017-10-06 15:40:00+00            1450  2017-10-01 01:03:18.948+00
12     2017-10-06 15:30:00+00            1550  2017-10-01 01:03:18.948+00
13     2017-10-06 15:30:00+00            1550  2017-10-01 01:03:18.948+00
14     2017-10-06 15:30:00+00            1800   2017-10-01 01:03:18.95+00
15     2017-10-06 16:30:00+00            1700   2017-10-01 01:03:18.95+00
16     2017-10-06 16:30:16+00            1700   2017-10-01 01:03:18.95+00
17     2017-10-06 17:00:00+00            1800   2017-10-01 01:03:18.95+00
18     2017-10-06 17:20:00+00            1900   2017-10-01 01:03:18.95+00
19     2017-10-06 16:40:00+00            2300   2017-10-01 01:03:18.95+00
20     2017-10-06 17:40:00+00            1700   2017-10-01 01:03:18.95+00
21     2017-10-06 17:50:00+00            1800   2017-10-01 01:03:18.95+00
22     2017-10-06 17:50:00+00            1450   2017-10-01 01:03:18.95+00
23     2017-10-06 18:50:00+00            1700   2017-10-01 01:03:18.95+00
24     2017-10-06 18:50:00+00            1800   2017-10-01 01:03:18.95+00
25     2017-10-06 19:00:00+00            1700   2017-10-01 01:03:18.95+00
26     2017-10-06 19:00:00+00            1800   2017-10-01 01:03:18.95+00
27     2017-10-06 18:50:00+00            1800  2017-10-01 01:03:18.951+00
28     2017-10-06 19:20:00+00            1550  2017-10-01 01:03:18.951+00
29     2017-10-06 19:30:00+00            1300  2017-10-01 01:03:18.951+00
...                       ...             ...                         ...
74138  2017-10-27 22:20:00+00            3000  2017-10-19 10:35:31.269+00
74139  2017-10-27 22:30:00+00            2900  2017-10-19 10:35:31.269+00
74140  2017-10-27 22:50:00+00            2900  2017-10-19 10:35:31.269+00
74141  2017-10-27 23:10:00+00            3000  2017-10-19 10:35:31.269+00
74142  2017-10-27 23:00:00+00            2650  2017-10-19 10:35:31.269+00
74143  2017-10-28 01:10:00+00            2900  2017-10-19 10:35:31.269+00
74144  2017-10-28 01:40:00+00            3600  2017-10-19 10:35:31.269+00
74145  2017-10-27 23:02:00+00            1950  2017-10-19 10:35:40.167+00
74146  2017-10-27 19:16:00+00            8020  2017-10-19 10:35:40.168+00
74147  2017-10-28 23:02:00+00            8450  2017-10-19 10:35:40.168+00
74148  2017-10-27 08:55:00+00            2150  2017-10-19 10:35:40.168+00
74149  2017-10-27 19:54:00+00            8700  2017-10-19 10:35:40.168+00
74150  2017-10-27 11:38:00+00            7650  2017-10-19 10:35:40.168+00
74151  2017-10-28 08:30:00+00            8450  2017-10-19 10:35:40.168+00
74152  2017-10-27 14:50:00+00            7850  2017-10-19 10:35:40.168+00
74153  2017-10-27 18:54:00+00            8400  2017-10-19 10:35:40.168+00
74154  2017-10-27 17:16:00+00            7620  2017-10-19 10:35:40.168+00
74155  2017-10-27 23:02:00+00            8450  2017-10-19 10:35:40.168+00
74156  2017-10-27 16:00:00+00            2590  2017-10-19 10:35:42.942+00
74157  2017-10-27 21:10:00+00            2090  2017-10-19 10:35:42.943+00
74158  2017-10-27 16:00:00+00            2400  2017-10-19 10:35:42.943+00
74159  2017-10-27 16:00:00+00            2400  2017-10-19 10:35:42.943+00
74160  2017-10-27 22:45:00+00            2100  2017-10-19 10:35:42.943+00
74161  2017-10-27 21:15:00+00            2700  2017-10-19 10:35:42.943+00
74162  2017-10-28 08:00:00+00            4480  2017-10-19 10:35:42.943+00
74163  2017-10-27 16:00:00+00            2590  2017-10-19 10:35:42.943+00
74164  2017-10-27 13:30:00+00            2700  2017-10-19 10:35:42.943+00
74165  2017-10-27 15:15:00+00            3000  2017-10-19 10:35:42.943+00
74166  2017-10-27 21:10:00+00            2880  2017-10-19 10:35:42.943+00
74167  2017-10-27 21:40:00+00            2000  2017-10-19 10:35:42.943+00

           middle_stations other_companies  o_city  d_city  travelTime_ts
0                      NaN             NaN     611     542        22200.0
1                {149,418}            {13}     611     542        64200.0
2      {798,798,6794,6246}     {8377,8376}     611     542       115020.0
3      {798,798,6794,6246}     {8377,8376}     611     542        77700.0
4              {5983,5983}          {8380}     611     542        78360.0
5                      NaN             NaN     628     453        10800.0
6                      NaN             NaN     628     453         9000.0
7                      NaN             NaN     628     453         9000.0
8                      NaN             NaN     628     453        10200.0
9                      NaN             NaN     628     453        10200.0
10                     NaN             NaN     628     453        10800.0
11                     NaN             NaN     628     453         9600.0
12                     NaN             NaN     628     453         9000.0
13                     NaN             NaN     628     453         9000.0
14                     NaN             NaN     628     453         9000.0
15                     NaN             NaN     628     453        10200.0
16                     NaN             NaN     628     453         9000.0
17                     NaN             NaN     628     453        10800.0
18                     NaN             NaN     628     453        12000.0
19                     NaN             NaN     628     453         9600.0
20                     NaN             NaN     628     453        10200.0
21                     NaN             NaN     628     453         9600.0
22                     NaN             NaN     628     453         8400.0
23                     NaN             NaN     628     453        10800.0
24                     NaN             NaN     628     453        10800.0
25                     NaN             NaN     628     453        10800.0
26                     NaN             NaN     628     453        10800.0
27                     NaN             NaN     628     453        10200.0
28                     NaN             NaN     628     453         9000.0
29                     NaN             NaN     628     453         9000.0
...                    ...             ...     ...     ...            ...
74138                  NaN             NaN     628     562        15600.0
74139                  NaN             NaN     628     562        14400.0
74140                  NaN             NaN     628     562        15600.0
74141                  NaN             NaN     628     562        16800.0
74142                  NaN             NaN     628     562        13800.0
74143                  NaN             NaN     628     562        13800.0
74144                  NaN             NaN     628     562        13800.0
74145            {408,408}          {8377}     628     562        59040.0
74146            {583,583}          {8380}     628     562         9480.0
74147            {408,408}          {8377}     628     562        90960.0
74148            {408,408}          {8376}     628     562         8220.0
74149            {583,583}          {8376}     628     562         9600.0
74150            {583,583}          {8376}     628     562        12240.0
74151          {3748,3748}          {8380}     628     562        46200.0
74152            {408,408}          {8376}     628     562        15000.0
74153            {583,583}          {8376}     628     562         8160.0
74154            {583,583}          {8380}     628     562        10920.0
74155            {408,408}          {8377}     628     562         8160.0
74156            {408,408}          {8371}     628     562        51600.0
74157            {863,863}            {13}     628     562        51000.0
74158          {1105,1105}          {8371}     628     562        32400.0
74159          {1105,1105}          {8371}     628     562        27000.0
74160          {1105,1105}             {9}     628     562        45900.0
74161          {1105,1105}             {9}     628     562        26100.0
74162            {863,863}            {13}     628     562        43500.0
74163            {408,408}          {8371}     628     562        48600.0
74164          {1105,1105}             {9}     628     562        23400.0
74165          {1105,1105}             {9}     628     562        24300.0
74166            {863,863}            {13}     628     562        27900.0
74167            {863,863}          {8371}     628     562        24900.0

[74168 rows x 13 columns]

## Exploration des données

In [3]:
#Cette méthode permet de vérifier le type d'une colonne d'un dataframe. Si on a plusieurs types dans une même colonne,
#Un message d'erreur apparaît.
def typecheck(dataframe,colname):
    column=dataframe[colname]
    type_column=type(column[0])
    check="clear"
    for i in range(len(column)):
        if not isinstance(column[i],type_column):
            print("Problème: une valeur de la colonne "+colname+" est du type: "+str(type(column[i]))+"\n")
            check="err"
            break
    if check=="clear":
        print("Le type de la colonne "+colname+" est: "+str(type_column)+"\n")
    return(check)

In [4]:
print(cities["unique_name"][0])

padua

In [5]:
typecheck(cities,"unique_name")

Problème: une valeur de la colonne unique_name est du type: <class 'float'>

'err'

In [6]:
#Compte le nombre de valeurs manquantes pour une colonne
def countMissingValues(dataframe,colname):
    column=dataframe[colname]
    count_mv=0
    for value in column:
        if isinstance(value,(int,float)):
            if np.isnan(value):
                count_mv+=1
        if isinstance(value,str):
            if value=="":
                count_mv+=1
    print("Le nombre d'observations manquantes pour la colonne "+colname+" est: "+str(count_mv))
    return count_mv

In [7]:
def getMissingValueLine(dataframe,colname):
    MissingValues=[]
    column=dataframe[colname]
    line=-1
    for value in column:
        line+=1
        if isinstance(value,(int,float)):
            if np.isnan(value):
                MissingValues.append(line)
        if isinstance(value,str):
            if value=="":
                MissingValues.append(line)
    return(MissingValues)

In [8]:
def first_impression(dataframe):
    print("Nombre total d'observations: "+str(len(dataframe.iloc[:,0])))
    for colname in dataframe.columns:
        column=dataframe[colname]
        typecheck(dataframe,colname)
        countMissingValues(dataframe,colname)

In [133]:
first_impression(tickets)
#On remarque qu'il y a 41441 observations où l'on n'a pas d'informattions sur les stations

Nombre total d'observations: 74168
Le type de la colonne id est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne id est: 0
Le type de la colonne company est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne company est: 0
Le type de la colonne o_station est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne o_station est: 41441
Le type de la colonne d_station est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne d_station est: 41441
Le type de la colonne departure_ts est: <class 'str'>

Le nombre d'observations manquantes pour la colonne departure_ts est: 0
Le type de la colonne arrival_ts est: <class 'str'>

Le nombre d'observations manquantes pour la colonne arrival_ts est: 0
Le type de la colonne price_in_cents est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne price_in_cents est: 0
Le type de la colonne search_ts est: <class 'str'>

Le nombre d'observations manquantes pour la colonne search_ts est: 0
Problème: une valeur de la colonne middle_stations est du type: <class 'str'>

Le nombre d'observations manquantes pour la colonne middle_stations est: 41441
Problème: une valeur de la colonne other_companies est du type: <class 'str'>

Le nombre d'observations manquantes pour la colonne other_companies est: 41441
Le type de la colonne o_city est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne o_city est: 0
Le type de la colonne d_city est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne d_city est: 0

In [134]:
first_impression(cities)
#On s' qu'il manque une valeur pour la colonne "local_name"

Nombre total d'observations: 8040
Le type de la colonne id est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne id est: 0
Le type de la colonne local_name est: <class 'str'>

Le nombre d'observations manquantes pour la colonne local_name est: 0
Problème: une valeur de la colonne unique_name est du type: <class 'float'>

Le nombre d'observations manquantes pour la colonne unique_name est: 1
Le type de la colonne latitude est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne latitude est: 0
Le type de la colonne longitude est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne longitude est: 0
Le type de la colonne population est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne population est: 7671

In [158]:
print(getMissingValueLine(cities,"unique_name"))
print(cities.iloc[6866,:])
#En y regardant de plus près, on voit que l'erreur vient du fait u'Hambourg est à la fois une ville et un lander

[6866]
id                              10244
local_name     , Hamburg, Deutschland
unique_name                       NaN
latitude                      39.6134
longitude                     2.88043
population                        NaN
Name: 6866, dtype: object

In [9]:
cities.loc[cities.id==10244,'local_name']="Hamburg, Hamburg, Deutschland"
cities.loc[cities.id==10244,'unique_name']="hamburg"
print(cities.iloc[6866,:])

id                                     10244
local_name     Hamburg, Hamburg, Deutschland
unique_name                          hamburg
latitude                             39.6134
longitude                            2.88043
population                               NaN
Name: 6866, dtype: object

In [164]:
first_impression(providers)

Nombre total d'observations: 227
Le type de la colonne id est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne id est: 0
Le type de la colonne company_id est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne company_id est: 0
Problème: une valeur de la colonne provider_id est du type: <class 'str'> à la ligne 8

Le nombre d'observations manquantes pour la colonne provider_id est: 14
Le type de la colonne name est: <class 'str'>

Le nombre d'observations manquantes pour la colonne name est: 0
Le type de la colonne fullname est: <class 'str'>

Le nombre d'observations manquantes pour la colonne fullname est: 0
Problème: une valeur de la colonne has_wifi est du type: <class 'float'> à la ligne 212

Le nombre d'observations manquantes pour la colonne has_wifi est: 3
Problème: une valeur de la colonne has_plug est du type: <class 'float'> à la ligne 212

Le nombre d'observations manquantes pour la colonne has_plug est: 3
Problème: une valeur de la colonne has_adjustable_seats est du type: <class 'float'> à la ligne 212

Le nombre d'observations manquantes pour la colonne has_adjustable_seats est: 3
Problème: une valeur de la colonne has_bicycle est du type: <class 'float'> à la ligne 212

Le nombre d'observations manquantes pour la colonne has_bicycle est: 3
Le type de la colonne transport_type est: <class 'str'>

Le nombre d'observations manquantes pour la colonne transport_type est: 0

In [173]:
print(getMissingValueLine(providers,"has_wifi"))

[212, 224, 225]

In [179]:
providers.iloc[212,:]

id                          8374
company_id                    20
provider_id                  NaN
name                    transdev
fullname                Transdev
has_wifi                     NaN
has_plug                     NaN
has_adjustable_seats         NaN
has_bicycle                  NaN
transport_type               bus
Name: 212, dtype: object

In [180]:
providers.iloc[224,:]

id                       8387
company_id                 30
provider_id               NaN
name                    vatry
fullname                Vatry
has_wifi                  NaN
has_plug                  NaN
has_adjustable_seats      NaN
has_bicycle               NaN
transport_type            bus
Name: 224, dtype: object

In [181]:
providers.iloc[225,:]

id                         8388
company_id                   40
provider_id                 NaN
name                    beauval
fullname                Beauval
has_wifi                    NaN
has_plug                    NaN
has_adjustable_seats        NaN
has_bicycle                 NaN
transport_type              bus
Name: 225, dtype: object

In [136]:
first_impression(stations)
#ras

Nombre total d'observations: 11035
Le type de la colonne id est: <class 'numpy.int64'>

Le nombre d'observations manquantes pour la colonne id est: 0
Le type de la colonne unique_name est: <class 'str'>

Le nombre d'observations manquantes pour la colonne unique_name est: 0
Le type de la colonne latitude est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne latitude est: 0
Le type de la colonne longitude est: <class 'numpy.float64'>

Le nombre d'observations manquantes pour la colonne longitude est: 0

## La durée des trajets

In [18]:
departure_ts=tickets['departure_ts']
arrival_ts=tickets['arrival_ts']

In [19]:
tzLocDep=[]
for dep in departure_ts:
    tzLocDep.append(dep.find('+'))

In [20]:
tzLocArr=[]
for arr in arrival_ts:
    tzLocArr.append(arr.find('+'))

In [21]:
def count(int,list):
    res=0
    for i in list:
        if i==int:
            res+=1
    return(res)

In [22]:
print(count(19,tzLocDep))

74168

In [23]:
print(count(19,tzLocArr))

74168

In [33]:
#Un rapide coup d'oeil aux données permet de voir que la timezone des Timestamps n'est pas dans un format régulier.
#Fort heureusement, comme tous les ts sont au même format, la fonction pour régulariser les ts est très simple.
def regularize_TzFormat(TsList):
    regList=[]
    tsInt=0
    for ts in TsList:
        tsInt=datetime.datetime.strptime(ts+"00","%Y-%m-%d %H:%M:%S%z").timestamp()
        regList.append(tsInt)
    return(regList)

In [39]:
arrival=regularize_TzFormat(tickets['arrival_ts'])
departure=regularize_TzFormat(tickets['departure_ts'])
travelTime_Seconds=np.subtract(arrival,departure)

In [45]:
travelTime=pd.DataFrame({"travelTime_ts":travelTime_Seconds})
tickets=tickets.join(travelTime)

## La distance parcourue

In [48]:
import geopy.distance

In [133]:
#Quand c'est possible, on préfère prendre les coordonnées géographiques des stations. Sinon, on utilisera les 
#coordonnées de la ville de départ et de la ville d'arrivée.

#La fonction ComputeDistance récupère 
def ComputeDistance(row_id):
    
    if not np.isnan(tickets.loc[tickets['id']==row_id,"o_station"].values[0]):
        OriginId=tickets.loc[tickets['id']==row_id,"o_station"].values[0]
        DestinationId=tickets.loc[tickets['id']==row_id,"d_station"].values[0]
                
        OriginLat=float(stations.loc[stations['id']==OriginId,'latitude'].values[0])
        OriginLong=float(stations.loc[stations['id']==OriginId,'longitude'].values[0])
        
        DestinationLat=float(stations.loc[stations['id']==DestinationId,'latitude'].values[0])
        DestinationLong=float(stations.loc[stations['id']==DestinationId,'longitude'].values[0])

        
    else:
        OriginId=tickets.loc[tickets['id']==row_id,"o_city"].values[0]
        DestinationId=tickets.loc[tickets['id']==row_id,"d_city"].values[0]
        
        OriginLat=float(cities.loc[cities['id']==OriginId,'latitude'].values[0])
        OriginLong=float(cities.loc[cities['id']==OriginId,'longitude'].values[0])


        
        DestinationLat=float(cities.loc[cities['id']==DestinationId,'latitude'].values[0])
        DestinationLong=float(cities.loc[cities['id']==DestinationId,'longitude'].values[0])
        
        
    OriginCoord=[OriginLat,OriginLong]
    DestinationCoord=[DestinationLat,DestinationLong]
    
    return(geopy.distance.distance(OriginCoord,DestinationCoord).km)

In [148]:
#Pour éviter de calculer deux fois une distance entre deux mêmes points, cette fonction enregistre les trajets 
#uniques passés (sinon le calcul de l'ensemble des distances prend un peu de temps...)
def getTicketDistance():
    pastTravels_stations={}
    pastTravels_cities={}
    ticketDistance=[]
    for ticket in tickets['id']:

        OriginId=tickets.loc[tickets['id']==ticket,"o_station"].values[0]
        DestinationId=tickets.loc[tickets['id']==ticket,"d_station"].values[0]
        #Si On a les infos dans la station, on utilise le dictionnaire des stations...
        if not np.isnan(tickets.loc[tickets['id']==ticket,"o_station"].values[0]):
            OriginId=tickets.loc[tickets['id']==ticket,"o_station"].values[0]
            DestinationId=tickets.loc[tickets['id']==ticket,"d_station"].values[0]
            
            if (OriginId,DestinationId) in pastTravels_stations.keys():
                ticketDistance.append(pastTravels_stations[(OriginId,DestinationId)])
            #Si le trajet est nouveau, on met à jour le dictionnaire des trajets passés
            else:
                td=ComputeDistance(ticket)
                pastTravels_stations[(OriginId,DestinationId)]=td
                ticketDistance.append(td)
        #... Sinon on utilise le dictionnaire des villes
        else:
            OriginId=tickets.loc[tickets['id']==ticket,"o_city"].values[0]
            DestinationId=tickets.loc[tickets['id']==ticket,"d_city"].values[0]
            
            if (OriginId,DestinationId) in pastTravels_cities.keys():
                ticketDistance.append(pastTravels_cities[(OriginId,DestinationId)])
            #Si le trajet est nouveau, on met à jour le dictionnaire des trajets passés
            else:
                td=ComputeDistance(ticket)
                pastTravels_cities[(OriginId,DestinationId)]=td
                ticketDistance.append(td)
    
    return(ticketDistance)

In [149]:
before=time.time()
ticketDistance=getTicketDistance()
print(time.time()-before)

734.5781757831573

In [150]:
before=time.time()
ticketDistance=[ComputeDistance(row_id) for row_id in tickets['id']]
print(time.time()-before)

819.3387143611908

In [116]:
travelDistance=pd.DataFrame({"travelDistance":ticketDistance})
tickets=tickets.join(travelDistance)

In [117]:
print(tickets["travelDistance"])

0        503.136831
1        504.102129
2        504.252089
3        504.252089
4        504.252089
5        205.933671
6        205.933671
7        205.933671
8        205.933671
9        205.933671
10       205.933671
11       205.933671
12       205.933671
13       205.933671
14       205.933671
15       205.933671
16       205.933671
17       205.933671
18       205.933671
19       205.933671
20       205.933671
21       205.933671
22       205.933671
23       205.933671
24       205.933671
25       205.933671
26       205.933671
27       205.933671
28       205.933671
29       205.933671
            ...
74138    339.046766
74139    339.046766
74140    339.046766
74141    339.046766
74142    339.046766
74143    339.046766
74144    339.046766
74145    330.043171
74146    330.043171
74147    339.876577
74148    330.043171
74149    339.876577
74150    339.876577
74151    339.876577
74152    339.876577
74153    330.043171
74154    339.876577
74155    339.876577
74156    365.474446
74157    343.998792
74158    344.560189
74159    348.122937
74160    343.998792
74161    343.998792
74162    340.444685
74163    344.560189
74164    340.444685
74165    343.998792
74166    340.444685
74167    348.122937
Name: travelDistance, Length: 74168, dtype: float64

In [145]:
a={('b','u'):'d',('c','v'):'e'}
('b','v') in a.keys()

False